<ion-view title="Dash">
     <b id="loadingMessage" style="display: none" ng-bind="'_searchButton_' | i18n"></b>
    <ion-content class="has-header padding">

        <ion-refresher
                pulling-text="{{'_pullToRefresh_' | i18n}}"
                on-refresh="doRefresh()">
        </ion-refresher>

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" ng-model="model.code" placeholder="{{'_pullToRefresh_' | i18n}}">
            </label>
            <button class="button button-clear" ng-click="searchGifs()" ng-bind="'_searchButton_' | i18n">
            </button>
        </div>

        <div ng-repeat="items in split_gifs" class="row">
            <div ng-repeat="item in items" class="col-33"
                 ng-click="saveDetails(item)"
                 style="background: url('{{item.images.fixed_height_still.url}}') no-repeat center; height: 100px; width: 100px;background-size: cover;">
                <div >
                    <div >
                        <a href="#/detail/{{item.id}}">
                           <!-- <img src="{{item.images.fixed_height_still.url}}"/>-->
                        </a>
                    </div>

                </div>
               <!-- <div class="card" ng-click="saveDetails(item)">
                    <div class="item item-text-wrap">
                        <a href="#/detail/{{item.id}}">
                            <img src="{{item.images.fixed_height_still.url}}"/>
                        </a>
                    </div>

                </div>-->

            </div>

        </div>

        <!--<ion-infinite-scroll
                on-infinite="loadMore()"
                distance="10%">
        </ion-infinite-scroll>-->
    </ion-content>

</ion-view>