<ion-view title="Detail">
    <ion-content has-header="true" padding="true">
        <!--<p>{{gifVideoUrl}}</p>
        <p>Height <span>{{gifVideoHeight}}</span></p>
        <p>Width <span>{{gifVideoWidth}}</span></p>-->

        <div class="row row-center">
            <div class="col">
                <video autoplay loop style="width: 100% !important; height: auto   !important;">
                    <source ng-src="{{gifVideoUrl | trusted}}" type="video/mp4">
                    Your browser does not support the video tag
                </video>
            </div>
        </div>

        </ion-content>
</ion-view>
